.counter{
    color: blueviolet;
    font-size: 100px;
    text-align: center;
    text-shadow: 1px 1px 10px white;
}

.btn{
    display: flex;
    justify-content: center;
    width: 350px;
    height: 40px;
    margin: auto;
    background: white;
    border: none;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 30px;
}

.clock{
    text-align: center;
    display: block;
    color: blueviolet;
    font-size: 100px;
    text-shadow: 1px 1px 10px white;

}